<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Details</title>
  </head>

  <body>
    <header>
      <h1>Cookmaster</h1>
      <a href="<%= endpoint %>"><%= endpoint %></a>
    </header>
    <section>
      <h2><%= recipe.recipeName %></h2>
      <p>Enviada por <%= name %></p>
      <% if (isUser) {%>
      <button>Editar Receita</button>
      <button>Excluir Receita</button>
      <% } %>
      <h3>Ingredientes</h3>
      <ul>
        <% recipe.ingredients.forEach((ingredient) => { %>
        <li><%= ingredient %></li>
        <% }) %>
      </ul>
      <h3>Modo de Preparo</h3>
      <p><%= recipe.instructions %></p>
    </section>
  </body>
</html>
