<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Cadastro</title>
  </head>

  <body>
    <form action="/register" method="POST">
      <label for="emailInput">Email: </label>
      <input type="text" name="email" id="emailInput" /><br />
      <% if (error.email) {%>
      <p class="message">
        <%= error.email %>
      </p>
      <% } %>
      <label for="password">Senha: </label>
      <input type="password" name="password" id="password" /><br />
      <% if (error.password) {%>
      <p class="message">
        <%= error.password %>
      </p>
      <% } %>
      <label for="confirm">Confirmar a Senha: </label>
      <input type="password" name="confirm" id="confirm" /><br />
      <% if (error.confirm) {%>
      <p class="message">
        <%= error.confirm %>
      </p>
      <% } %>
      <label for="firstName">Nome: </label>
      <input type="text" name="firstName" id="firstName" /><br />
      <% if (error.firstName) {%>
      <p class="message">
        <%= error.firstName %>
      </p>
      <% } %>
      <label for="lastName">Sobrenome: </label>
      <input type="text" name="lastName" id="lastName" /><br />
      <% if (error.lastName) {%>
      <p class="message">
        <%= error.lastName %>
      </p>
      <% } %>
      <button type="submit">Cadastre-se</button>
    </form>
    <button onclick="window.location.pathname='/login'">Fazer Login</button>
  </body>
</html>
