<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Editar Usu치rio</title>
  <link rel="stylesheet" type="text/css" href="/header.css">
  <link rel="stylesheet" type="text/css" href="/admin.css">
</head>

<body>

  <header>
    <%- include("./header.ejs") %>
  </header>

  <h1>Editar Usu치rio</h1>
  <h2><%= results[3] %></h2>
  <form action="/me/edit" method="POST">
    Novo nome:
    <input name="firstName" type="text" value="<%= results[3] %>" /> </br>
    Novo Sobrenome:
    <input name="lastName" type="text" value="<%= results[4] %>" /> </br>
    Novo password:
    <input name="password" type="text" value="<%= results[2] %>" /> </br>
    Novo e-mail:
    <input name="email" type="text" value="<%= results[1] %>" /> </br>
    <button class="logout-btn" type="submit">Editar usu치rio!</button> </br>
  </form>
  <% if (update) { %>
  <p>Usu치rio Editado com sucesso!</p>
  <% } %>
</body>

</html>