<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Editar Usuário</title>
  <link rel="stylesheet" type="text/css" href="/header.css">
  <link rel="stylesheet" type="text/css" href="/newUser.css">
</head>

<body>

  <header>
    <%- include("./header.ejs") %>
  </header>

  <h1>Editar Usuário</h1>
  <form class="container-user" action="/me/edit" method="POST">
    <label for="firstName"> Editar nome do usuário</label>
    <input name="firstName" type="text" value="<%= results[3] %>" /> </br>
    <label for="lastName"> Editar sobrenome do usuário</label>
    <input name="lastName" type="text" value="<%= results[4] %>" /> </br>
    <label for="password"> Editar password </label>
    <input name="password" type="password" value="<%= results[2] %>" /> </br>
    <label for="email"> Editar email </label>
    <input name="email" type="text" value="<%= results[1] %>" /> </br>
    <button class="sbt-btn" type="submit">Editar usuário!</button> </br>
  </form>
  <% if (update) { %>
  <p>Usuário Editado com sucesso!</p>
  <% } %>
</body>

</html>