<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <header>
      <h1>Cookmaster</h1>
      <% if (name) {%>
      <div class="message">
        <%= name %>
      </div>
      <% } %>
      <a href="/<%= endpoint %>"><%= endpoint %></a>
    </header>
    <section>
      <h2>Receitas</h2>
      <% if (name) {%>
      <button>Minhas Receitas</button>
      <% } %>
      <button>Buscar Receita</button>
      <% if (name) {%>
      <button onclick="window.location.pathname='/recipes/new'">Nova Receita</button>
      <% } %>
    </section>
    <seciton>
      <% recipes.forEach((recipe) => { %>
      <div><%= recipe.recipeName %></div>
      <div><%= recipe.userName %></div>
      <button onclick="window.location.pathname='/recipes/<%= recipe.recipeId %>'">
        Ver Mais
      </button>
      <% }) %>
    </seciton>
  </body>
</html>
