<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Detalhes da Receita</title>
  <style>
    .Home_header {
      background-color: grey;
      position: relative;
      padding: 1vh 2vw;
      margin: -10px;
      display: flex;
      justify-content: space-between;
    }

    .Home_header_tags {
      font-size: 2vh;
    }

    .Home_recipes {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2vw 0 2vw;
    }
  </style>
</head>

<body>
  <div>
    <div class="Home_header">
      <p class="Home_header_tags">Cookmaster</p>
      <button class=" Home_header_tags" type="button" onclick="window.location.pathname='/login'">
        Login
      </button>
    </div>
    <div>
      <% if(user.id === recipe.idUser){ %>
      <button>Editar Receita</button>
      <button>Excluir Receita</button>
      <% } %>
      <% if(recipe){ %>
      <h2><%= recipe.title%></h2>
      <p><%= recipe.userName%></p>
      <h3>Ingredientes</h3>
      <p><%= recipe.ingredients%></p>
      <h3>Modo de Preparo</h3>
      <p><%= recipe.detailsRecipe %></p>
      <% } %>
      <%= typeof user.id %>
      <%= typeof recipe.idUser %>
    </div>
  </div>
</body>

</html>
